body {
  margin: 0px;
  padding: 0px;
  height: 90vh;
  width: 90vw;
  padding: 5vh 5vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
  display: grid;
  column-gap: 10vw;
  row-gap: 10vh;
}

main a {
  display: flex;
  align-items: center;
  justify-content: center;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.YouTube-button {
  flex: 1;
  position: relative;
  padding: 25px 0px;
  border-radius: 40px;
  transition: 0.3s;
  background-color: white;
}

.YouTube-button img {
  height: 5vh;
  display: block;
}

.YouTube-button:hover:before {
  filter: blur(1.5rem);
  opacity: 0.5;
  transition: 0.3s;
}

.YouTube-button:hover::after,
.YouTube-button:hover:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    red,
    rgb(91, 91, 91, 0),
    rgb(91, 91, 91, 0),
    red,
    rgb(91, 91, 91, 0),
    rgb(91, 91, 91, 0),
    red
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  border-radius: 40px;
  animation: 5s spin linear infinite;
}

.Brave-button {
  flex: 1;
  padding: 25px 0px;
  border-radius: 40px;
  transition: 0.3s;
  position: relative;
  background-color: rgb(228, 228, 228);
}

.Brave-button img {
  height: 5vh;
  display: block;
}

.Brave-button:hover {
  background-color: rgb(228, 228, 228);
}

.Brave-button:hover:before {
  filter: blur(1.5rem);
  opacity: 0.5;
  transition: 0.3s;
}

.Brave-button:hover::after,
.Brave-button:hover:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    orangered,
    rgb(91, 91, 91, 0),
    rgb(91, 91, 91, 0),
    orangered,
    rgba(91, 91, 91, 0),
    rgb(91, 91, 91, 0),
    orangered
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  border-radius: 40px;
  animation: 3s spin linear infinite;
}

.Frontend-button {
  flex: 1;
  position: relative;
  padding: 25px 0px;
  border-radius: 40px;
  background-color: white;
}

.Frontend-button img {
  height: 5vh;
  display: block;
}

.Frontend-button:hover:before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.Frontend-button:hover::after,
.Frontend-button:hover:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    darkblue,
    rgb(91, 91, 91, 0),
    rgb(91, 91, 91, 0),
    darkblue,
    rgb(91, 91, 91, 0),
    rgb(91, 91, 91, 0),
    darkblue
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  border-radius: 40px;
  animation: 4s spin linear infinite reverse;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

@media only screen and (max-width: 320px) {
  main {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 769px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
