.video-grid{
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    column-gap: 16px;
    row-gap: 45px;
}

.thumbnail-row{
  margin-bottom: 8px;
  position: relative;
}

.thumbnail{
    width: 100%;
    object-fit: contain;
    object-position: bottom;
    /*border-width: 3px;
    border-style: solid;
    border-color: green;*/
}

.video-time{
    background-color: black;
    color: white;

    position: absolute;
    bottom: 10px;
    right: 5px;

    font-weight: 500;
    /*font-size: 12px;*/
    padding: 4px;
    border-radius: 2px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-channel-container{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.channel-picture{
    border-radius: 18px;
    width: 36px;
}

.video-channel-tooltip{
    position: absolute;
    top: 50px;
    padding: 10px 12px;
    border-radius: 6px;
    width: 200px;
    background-color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 3px 12px rgb(0, 0, 0, 0.4);

    opacity: 0;
    pointer-events: none;
    z-index: 50;

    transition: opacity 0.15s;
}

.video-channel-tooltip-picture{
    width: 45px;
    border-radius: 25px;
    margin-right: 7px;
}

.video-channel-tooltip-author{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 4px;
}

.video-channel-tooltip-info{
    font-size: 15px;
    font-weight: 400;
    color: rgb(96, 96, 96);
}

.video-channel-container:hover .video-channel-tooltip{
    opacity: 1;
}

.video-title-link{
    text-decoration: none;
    color: black;
}

.video-title{
    /*font-size: 14px;*/
    font-weight: 500;
    /*line-height: 20px;*/
    margin-bottom: 10px;
}

.video-author, .video-stats{
    /*font-size: 12px;*/
    color: rgb(96, 96, 96);
}

.video-author{
    margin-bottom: 4px;
}

@media (max-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }

    .video-time, .video-author, .video-stats{
        font-size: 12px;
    }

    .video-title{
        font-size: 14px;
        line-height: 20px;
    }
}

@media (min-width: 751px) and (max-width: 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr; 
    }

    .video-time, .video-author, .video-stats{
        font-size: 12px;
    }

    .video-title{
        font-size: 14px;
        line-height: 20px;
    }
}

@media (min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }

    .video-time, .video-author, .video-stats{
        font-size: 14px;
    }

    .video-title{
        font-size: 16px;
        line-height: 24px;
    }
}